@page "/"
@using Logic
@rendermode InteractiveServer
@implements IDisposable

<PageTitle>Home</PageTitle>

@if (username == "")
{
  <form @onsubmit=SetName @onsubmit:preventDefault="true" @onsubmit:stopPropagation="true">
  <label>Name
    <input class="form-control" @bind=tempUsername type="text">
  </label>
</form>
}
else
{
  <h2>Hello @username</h2>
  <form @onsubmit=SendMessage>
    <label>Message
      <input class="form-control" @bind=message type="text">
    </label>
  </form>

  <section>
    @foreach(var m in Messages)
    {
      <div>@m.User: @m.Text</div>
    }
  </section>

}

@code {
  static List<MessageData> Messages = new();
  static event Action MessagesChanged;
  string tempUsername = "";
  string username = "";
  string message = "";

  protected override void OnInitialized()
  {
    MessagesChanged += Refresh;
  }

  public void Dispose()
  {
    MessagesChanged -= Refresh;
  }
  private void Refresh() => InvokeAsync(StateHasChanged);
  private void SetName()
  {
    username = tempUsername;
  }
  private void SendMessage()
  {
    Messages.Add(new(username, message ));
    message = "";
    MessagesChanged?.Invoke();
  }
}
